@font-face {font-family: "iconfont";
  src: url('./iconfont/iconfont.eot?t=1613565002211'); /* IE9 */
  src: url('./iconfont/iconfont.eot?t=1613565002211#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont/iconfont.woff?t=1613565002211') format('woff'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont/iconfont.svg?t=1613565002211#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\eaf2";
}

.icon-fanhui:before {
  content: "\e624";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-ZSjiantou:before {
  content: "\e647";
}

